<footer id="main_footer">
	<p class="copyright">&copy; 2015 Rahul Lakhaney</p>
	<nav>
		<a href="#"><i class="fa fa-youtube"></i></a>
		<a href="#"><i class="fa fa-github-alt"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-dribbble"></i></a>
		<a href="#"><i class="fa fa-medium"></i></a>
	</nav>
</footer>