<div class="container">
<h1 class="text-center">Books Marketplace</h1>
<br/>
<div class="row">
	<div class="col-md-4 col-md-offset-4 text-center">
		<%= link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg' %>&nbsp;<%= link_to "Register", new_user_registration_path, class: 'btn btn-info btn-lg' %>
	</div>
</div>
<br/><br/>
<div class="row">
	<%= render @books %>
</div>
</div>